*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    padding: 50px;
    height: calc(100vh - 200px);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 100%;
}

.square{
    border: 1px solid black;
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.azure{
    background-color: azure;
}

footer{
    height: 100px;
}

#btn{
    padding: 10px;
    cursor: pointer;
    margin: 10px;

}